body{
    margin: 0em;
    padding:0em;
    background-repeat: no-repeat;
}
.container{
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px double #000;
    background-color: #ffffff;
}
.sub-container{
    width:600px;
    margin: 25px auto;

}
ul li{
    display: inline;
    margin: 5px;
}
ul{
    width: 570px;
    padding: 15px;
    margin: 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;    
    text-align: center;
}
p{
    text-align: justify;
      width: 400px;
      margin: 20px auto 20px auto;
      margin-left:0px;
}
.para-container{
     text-align: center;
     margin-top: 30px;
    border:1px inset black;
    letter-spacing: 4px;
    padding:5px;   
    text-align: center;
    width:500px;
}
.img-1{
    margin-left: 50%;
}
.img-2{
    width:auto 290px;
}
.red{
    color:red;
}
/*For service*/
.service-container{
    margin:5px auto;
    width:80%;
    height: 800px;
    border:1px double gray;
}
.service-banner{
        width:40%;
}
iframe{
  overflow: hidden;
  border:1px solid gray;
}